@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/teko-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/teko-latin-500-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/teko-latin-600-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/teko-latin-700-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-latin-500-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-latin-600-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-latin-700-normal.woff2') format('woff2');
}
